<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iMuzic</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div id="header">
        <a href="index.html" id="logo"><img src="./static/images/logo.png" alt="logo"></a>
		<div>
			<ul>
				<li class="selected">
					<a href="{{ url_for('home') }}">Home</a>
				</li>
				<li  id="nav-link">
					<a href="#about">About</a>
				</li>
				<li id="nav-link">
					<a href="#features">Features</a>
				</li>
				<li>
					<a href="{{ url_for('app_page') }}">App</a>
				</li>
				<li id="nav-link">
					<a href="#footer">Contact</a>
				</li>
			</ul>
		</div>
	</div>
    <div class="landing">
        <p class="typing-text">Discover and explore <br>a world of endless musical possibilities with iMuzic.</p>
    </div>

    <div class="about" id="about">
        <h1>About</h1>
        <div class="about-content">
            <p>Powered by the Spotipy API, iMuzic brings you personalized music recommendations based on your favorite songs and artists. Whether you are a die-hard music enthusiast or just looking for your next favorite track, iMuzic has you covered.</p>
            <a href="{{ url_for('app_page') }}"><button class="get-started-btn">Get Started</button></a>
            <img src="./static/images/personalised_music.png" alt="Personalized Music Image"> 
        </div>
    </div>

    <div class="features" id="features">
        <h1>Features</h1>
        <div class="row row1">
            <img class="features-img" src="./static/images/personalised_recommendation.jpg" alt="Personalized Music Image">
            <div class="row1-text">
                <h3>Personalised Recommendations</h3>
                <p>Receive tailored music recommendations based on your unique taste.</p>
            </div>
            
        </div>

        <div class="row row2">
            <div class="row2-text">
                <h3>Seamless Integration</h3>
                <p>Connect seamlessly with Spotify to access millions of tracks at your fingertips.</p>
            </div>
            <img class="features-img" src="./static/images/spotify.jpg" alt="Seamless Integration Image">  
        </div>

        <div class="row row3">
            <img class="features-img" src="./static/images/user_experience.jpg" alt="User Interface Image">
            <div class="row3-text">
                <h3>User-friendly interface</h3>
                <p>Enjoy a sleek and intuitive user interface designed for effortless navigation and exploration.</p>
            </div>
            
        </div>

        <div class="row row4">
            <div class="row4-text">
                <h3>Responsive Design</h3>
                <p>Access iMuzic on any device, from desktops to mobile phones, for a consistent and enjoyable user experience.</p>
            </div>
            <img class="features-img" src="./static/images/responsive.jpg" alt="Responsive Design Image">
        </div>
    </div> <!-- features end -->

    <div class="why-choose-us">
        <h1>Why Choose Us</h1>
        <div class="why-row" id="why-row-1">
            <h3>Tailored Recommendations</h3>
            <p>Say goodbye to generic playlists and discover music that truly resonates with you.</p>
        </div>

        <div class="why-row">
            <h3>Effortless Exploration</h3>
            <p>Explore new genres and artists effortlessly, without the hassle of endless scrolling.</p>
        </div>

        <div class="why-row">
            <h3>Always Up-to-Date</h3>
            <p>Stay ahead of the curve with regularly updated recommendations based on the latest trends and releases.</p>      
        </div>

        <div class="why-row">
            <h3>Privacy First</h3>
            <p>Rest assured that your privacy is our top priority. iMuzic does not store any personal data and adheres to strict privacy standards.</p>
        </div>
    </div> <!-- why-choose-us end -->

    <div id="footer">
		<div>
			<p>
				&#169; 2023. All Rights Reserved.
			</p>
			<div class="connect">
				<a href="http://www.gmail.com/@sageberrymr" id="contact">contact</a> <a href="https://www.facebook.com/rufus.gladness.5" id="facebook">facebook</a> <a href="https://twitter.com/gladness_rkay?t=dCplWdttKaWnGBImkwGsrA&s=09" id="twitter">twitter</a>
			</div>
		</div>
	</div>
    <!-- Repeat the above pattern for other sections -->
</body>
</html>